mam1220/assignment4/IncidentsByAddress.csv
mam1220/assignment4/boroughs.csv
mam1220/assignment4/zipCodes.csv
mam1220/assignment5/Hw1data/actions-fall-2007.dat
mam1220/assignment5/Hw1data/genes.dat
mam1220/assignment5/Hw1data/microprocessors.dat
mam1220/assignment5/Hw1data/stocks.dat
mam1220/assignment6/ML1Dataset/labeled_data.csv
mam1220/assignment6/ML1Dataset/unlabeled_data.csv
mam1220/assignment6/MMusick_Report.docx
mam1220/assignment6/ny_state_AGI.csv
mam1220/assignment6/problem2a.py
mam1220/assignment6/shrinkTheDataSet.py

.DS_Store